.header {
  background-color: $theme1;
  padding-block: 0.6rem;
  & .navBrand {
    height: 35px;
    display: flex;
    @include lg {
      height: 40px;
    }
    & img {}
  }
  & .navUl {
    & .navLi {
      & .navLinks {
        font-size: 16px;
        color: white;
        text-transform: capitalize;
        font-weight: 600;
        // opacity: 0.95;
        transition: 0.3s ease-in-out;
        &:is(:hover, .active) {
          opacity: 1;
        }
      }
    }
  }
  & .menuBtn {
    background-color: transparent;
    & img {
      height: 18px;
      object-fit: contain;
    }
  }
}