.pagination {
    display: inline-block;
    margin: 7%;
    width:100%;
    margin-top: 40px;
  }
  
  .pagination button {
    color: #ffff;
    background: transparent;
    float: left;
    margin: 1%;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 13px;
  }
.pagination button:active{
    background-color: #fff;
    color: black;
  }
